@{
    ViewData["Title"] = "Structure";
}

@section Styles{
    <link rel="stylesheet" href="~/css/structure.css" />
}

@functions{
    private string CreateStructure(SiteMapGeneratorTool.WebCrawler.Objects.Page page)
    {
        foreach (SiteMapGeneratorTool.WebCrawler.Objects.Page p in page.Pages)
        {
            <li>
                @if (p.Pages.Count > 0)
                {
                    <span class="arrow"></span>@p.Address @Html.Raw(" (")@p.Pages.Count@Html.Raw(")") <a href="@p.Link">link</a>
                    <ul class="nested">
                        @CreateStructure(p)
                    </ul>
                }
                else
                {
                    @p.Address <a href="@p.Link">link</a>
                }
            </li>
        }
        return string.Empty;
    }
}

<p><a id="structureLink" href="@ViewBag.Message.Link">@ViewBag.Message.Link</a></p>
<ul id="structureList">
    @CreateStructure(ViewBag.Message)
</ul>

<script>
    var toggler = document.getElementsByClassName("arrow");
    for (var i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("arrow-down");
        });
    }
</script>