@{
    ViewData["Title"] = "Home";
}

<form method="get" action="api/webcrawler">
    <div class="form-group row">
        <label id="urlLabel" for="url" class="col-sm-2 col-form-label">Website URL</label>
        <div class="col-sm-10">
            <input id="urlInput" class="form-control" type="url" name="url" placeholder="http://example.com" required />
        </div>
    </div>

    <div class="form-group row">
        <label id="emailLabel" for="email" class="col-sm-2 col-form-label">Email Address</label>
        <div class="col-sm-10">
            <input id="emailInput" class="form-control" type="email" name="email" placeholder="example@example.com" />
        </div>
    </div>

    <div class="form-group-row">
        <label id="depthLabel" for="depth" class="col-form-label">Maximum Subdirectory Level : </label>
        <output>@ViewBag.DepthMid</output>
        <input id="depthInput" type="range" class="form-control-range" name="depth" min="0" max="@ViewBag.Depth" oninput="setOutput(this)">
    </div>

    <div class="form-group-row">
        <label id="maxPagesLabel" for="maxPages" class="col-form-label">Maximum Number of Pages : </label>
        <output>@ViewBag.MaxPagesMid</output>
        <input id="maxPagesInput" type="range" class="form-control-range" name="maxPages" min="0" max="@ViewBag.MaxPages" oninput="setOutput(this)">
    </div>

    <br />

    <div class="form-check form-check-inline">
        <input id="filesInput" class="form-check-input" type="checkbox" name="files" value="true" />
        <input type="hidden" name="files" value="false" />
        <label id="filesLabel" class="form-check-label">Include Files</label>
    </div>

    <div class="form-check form-check-inline">
        <input id="robotsInput" class="form-check-input" type="checkbox" name="robots" value="true" />
        <input type="hidden" name="robots" value="false" />
        <label id="robotsLabel" class="form-check-label">Respect Robots</label>
    </div>

    <div class="form-group">
        <input id="endpoint" name="endpoint" hidden />
        <input id="p256dh" name="p256dh" hidden />
        <input id="auth" name="auth" hidden />
    </div>

    <div class="form-group">
        <input id="submitInput" class="btn btn-primary mb-2" type="submit" value="Submit" />
    </div>
</form>

@section Scripts {
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener("load", () => {
                navigator.serviceWorker.register("js/serviceworker.js")
                    .then((reg) => {
                        if (Notification.permission === "granted") {
                            getSubscription(reg);
                        } else if (Notification.permission === "blocked") {
                            $("#NoSupport").show();
                        } else {
                            requestNotificationAccess(reg);
                        }
                    });
            });
        } else {
            $("#NoSupport").show();
        }

        function requestNotificationAccess(reg) {
            Notification.requestPermission(function (status) {
                $("#GiveAccess").hide();
                if (status == "granted") {
                    getSubscription(reg);
                } else {
                    $("#NoSupport").show();
                }
            });
        }

        function getSubscription(reg) {
            reg.pushManager.getSubscription().then(function (sub) {
                if (sub === null) {
                    reg.pushManager.subscribe({
                        userVisibleOnly: true,
                        applicationServerKey: "@ViewBag.ApplicationServerKey"
                    }).then(function (sub) {
                        fillSubscribeFields(sub);
                    }).catch(function (e) {
                        console.error("Unable to subscribe to push", e);
                    });
                } else {
                    fillSubscribeFields(sub);
                }
            });
        }

        function fillSubscribeFields(sub) {
            $("#endpoint").val(sub.endpoint);
            $("#p256dh").val(arrayBufferToBase64(sub.getKey("p256dh")));
            $("#auth").val(arrayBufferToBase64(sub.getKey("auth")));
        }

        function arrayBufferToBase64(buffer) {
            var binary = '';
            var bytes = new Uint8Array(buffer);
            var len = bytes.byteLength;
            for (var i = 0; i < len; i++) {
                binary += String.fromCharCode(bytes[i]);
            }
            return window.btoa(binary);
        }
    </script>

    <script>
        function setOutput(element) {
            if (element.value === "0")
                element.previousElementSibling.value = "Unlimited"
            else
                element.previousElementSibling.value = element.value
        }
    </script>
}